:root{
    --mainColor:#f538eb;
    --backMainColor:rgb(22, 21, 21);
    --sectionColor:rgb(28, 28, 28);
    --white:white;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: var(--backMainColor);
}
.hide{
    transform: translateY(-80px);
}
nav{
    position:fixed;
    background-color: var(--sectionColor);
    height: 80px;
    width: 100%;
    transition: all .5s;
}
#logo{
    color: var(--white);
    font-size: 30px;
    line-height: 80px;
    padding:0px 0px 0px 100px;
    font-weight: bold;
}
#mainInfo{
    float: right;
    /* margin-right:20px ; */
    gap: 55px;
}
#mainInfo li{
    display: inline-block;
    line-height: 80px;
    font-size: 100%;
    /* margin: 0 30px; */
    text-align: end;
}
#mainInfo li a{
    text-decoration: none;
    color: var(--white);
    /* font-size: 100%; */
    padding: 1px 8px;
    text-transform: uppercase;
    border-radius: 6px;
    margin-left: auto;
}
.active,#mainInfo a:hover{
    background: #bf1383;
    transition: .5s;
}
#optionbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height: 70px;
    /* margin-right: 40px; */
    cursor: pointer;
    display: none;
}
#option{
    display: none;
}
#account{
    margin-top: 15px;
    height: 58px;
    width: 58px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
#account img{
    height: 100%;
    width: 100%;
}
#accountInfo{
    margin-top: 80px;
    /* top: 20px; */
    list-style: none;
    position: absolute;
    /* left: 83vw; */
    padding-bottom: 20px;
    right: 38px;
    width: 200px;
    text-align: center;
    background: var(--sectionColor);
    border-radius: 0 0 10px 10px;
    display: none;
    transition:all .5s;
}
#accountInfo li{
    position: relative;
    /* float: left; */
    right: 18px;
}
#accountInfo li a{
    /* border-top: 1px solid gray ; */
    color: var(--white);
    /* padding: 10px 20px; */
    padding-top: 15px;
    display: block;
    text-decoration: none;
    border-radius: 6px;

}
#accountInfo li a:hover{
    background: #bf1383;
    transition: .5s;
}