.input-data input {
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data {
  position: relative;
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.input-data label {
  position: absolute;
  bottom: 10px;
  left: 0%;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data input:focus ~ label {
  transform: translate(0, -20px);
  font-size: 13px;
  color: #4158d0;
}

.inputs-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
