/* header font */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
:root{
  --main-color :#f538eb;
  --black-color:#000;
  --white-color:#fff;
  --dark-white:#c1bebe;
  --black-light-color:#242424;
}
body{
  background-color: var(--black-color) !important;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none !important;
  color: var(--white-color) !important;
}
.navbar{
  background-color: var(--black-color);
  color: var(--white-color);
}
.navbar .container{
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-color);
}
.logout::before{
  content: '';
  position: absolute;
  height: 80%;
  width: 1.2px;
  left: -4px;
  background-color: var(--white-color);
  top: 50%;
  transform: translateY(-50%);
}
.nav-item > a{
  padding-bottom: 4px;
  transition: 0.3s;
}
.navbar .active{
  color: var(--main-color) !important;
}
.nav-item > a:hover{
  color: var(--main-color) !important;
}
.lightMode{
  width: 60px;
  height: 30px;
  background-color: var(--black-light-color);
}
.icon_container{
  height: 90%;
  width: 44%;
  background-color: #000;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  cursor: pointer;
  transition: transform .5s ease;
}
.fa-sun{
  color: #FFDE59;
}
.animated{
  animation: spin 0.5s;
}
@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}
.moon_mode{
  transform: translateX(25px);
}
.picture-account{
  width: 30px;
  height: 30px;
}


/* start landing */
.landing{
  background: var(--black-color);
}
.boldDescription{
  font-family: 'Alkatra', cursive;
  font-size: 70px;
  color: var(--white-color);
  margin-bottom: 30px;
  font-weight: bold;
}
/* end landing */
/* start main */
main{
  background-color: var(--black-color);
}
main .container{
  border-top: 2px solid var(--main-color);
}

.category > div{
  background: var(--black-light-color);
  transition: 0.5s;
  border: 2px solid #f538eb99;
  border-radius: 10px;
}
.category > div:hover{
  box-shadow: 0px 0px 8px 1px var(--main-color);
}
.content{
  cursor: pointer;
}
.content h1{
  font-size: 30px;
  color: var(--white-color);
}
.content p{
  color: var(--white-color);
  margin-top: 20px;
}
.content .image{
  width:  100%;
  height: 50%;
  object-fit: cover;
}
/* end main */
.features .container{
  border-top: 2px solid var(--main-color);
}
.features .feat{
  background-color: var(--black-light-color);
  text-transform: capitalize;
  border: 2px solid var(--main-color);
}
.features .feat p{
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
}
.features .feat p::before{
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--main-color);
  height: 2px;
  width: 20%;
  bottom: 0;
  left: -20%;
  transition: 0.5s;
}
.features .feat:hover > p{
  color: var(--main-color);
}
.features .feat:hover > p::before{
  left: 0;
}
/* start contact us */
.contact .container{
  border-top: 2px solid var(--main-color);
}
.contact .contain{
  display: flex;
  justify-content: space-between;
}
@media (max-width:991px) {
  .contact .contain{
    flex-direction: column-reverse;
  }
}
.contact .main-input{
  padding: 20px;
  display: block;
  border: 1px solid #f538eb99;
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--black-light-color);
  color: var(--white-color);
}
.contact .contain .main-input:focus{
  outline: none;
}
.contact .main-input::placeholder{
  color: var(--white-color);
}
textarea {
  height: 200px;
}
.contact form input[type="submit"]{
  margin: auto;
  border-radius: 10px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  white-space: 10px;
  background-color: var(--main-color);
  border:none;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
}
