/* header font */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
:root{
  --main-color :#f538eb;
  --black-color:#000;
  --white-color:#fff;
  --black-light-color:#242424;
  --textWhite50:#a6a3a3d4;
}
html{
  user-select: none;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--black-color);
}

.lightMode{
  width: 60px;
  height: 30px;
  background-color: var(--black-light-color);
}

.icon_container{
  height: 90%;
  width: 44%;
  background-color: #000;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  cursor: pointer;
  transition: transform .5s ease;
}

.fa-sun{
  color: #FFDE59;
}
.animated{
  animation: spin 0.5s;
}
@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}
.moon_mode{
  transform: translateX(25px);
}
.picture-account{
  width: 30px;
  height: 30px;
}
a{
  text-decoration: none;
  color: var(--white-color);
}
.custom-header .title {
  font-family: 'Alkatra', cursive;
  color: var(--white-color);
}
.custom-header .title h1{
  font-size: 60px;
  padding: 8px;
  position: relative;
}
.custom-header .title h1::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: var(--main-color);
  transform: translateX(-50%);
}
.custom-header p{
  width: 75%;
}
.textWhite50 {
  color: var(--textWhite50) ;
}
/* start navbar */
.navbar{
  background-color: var(--black-color);
  color: var(--white-color);
}
.navbar .container{
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-color);
}
.logout::before{
  content: '';
  position: absolute;
  height: 80%;
  width: 1.2px;
  left: -4px;
  background-color: var(--white-color);
  top: 50%;
  transform: translateY(-50%);
}
.nav-item > a{
  padding-bottom: 4px;
  transition: 0.3s;
}
.navbar .active{
  color: var(--main-color) !important;
}
.nav-item > a:hover{
  color: var(--main-color) !important;
}
/* end navbar */
/* start landing */
.landing{
  height: calc(100vh - 80px);
  background-color: var(--black-color);
  color: var(--white-color);
}
.landing h1{
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Alkatra', cursive;
  position: relative;
}
.landing h1::before{
  content: 'Courses';
  position: absolute;
  font-family: 'Tilt Prism', cursive;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60%;
  color: #f538eb78;
}
.landing p{
  margin-top: 70px;
}
.landing form{
  width: 350px;
}
.landing input[type="search"]{
  background-color: var(--black-light-color);
  border:none;
  height: 50px;
}
.landing input[type="search"]::placeholder,.landing input[type="search"]{
  color: var(--white-color);
}
.landing .btn{
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: var(--white-color);
}
.landing form label h3::before{
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--main-color);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width:767px) {
  .landing h1{
    font-size: 55px;
  }
  .landing p{
    margin-top: 50px;
  }
}
/* end landing */
/* start programming */
.pro-course{
  background-color: var(--black-color);
  color: var(--white-color);
}
.pro-course .container{
  border-top: 1px solid var(--main-color);
}
.sub-title{
  font-family: 'Tilt Prism', cursive;
  font-size: 60px;
  color: #f538eb78;
}
.pro-course .courses{
  min-height: 400px;
  max-height: 500px ;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: scroll;
}
.pro-course .courses::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
.pro-course .courses .course{
  background-color: var(--black-light-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
  flex-grow: 1;
}
.pro-course .courses .course h2{
  font-family: 'Alkatra', cursive;
}
.pro-course .courses .course p{
  color: var(--main-color);
}
.pro-course .courses .course li{
  border-bottom: 1px solid;
}
.pro-course .courses .course:hover{
  box-shadow: 0px 0px 19px -4px var(--main-color);
}
/* end programming */
/* start PS */
.ps{
  background-color: var(--black-color);
  color: var(--white-color);
}
.ps .container{
  border-top: 2px solid var(--main-color);
}
.ps .courses{
  min-height: 400px;
  max-height: 400px ;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: scroll;
}
.ps .courses::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
.ps .courses .course h2{
  font-family: 'Alkatra', cursive;
}
.ps .courses .course p{
  color: var(--main-color);
}
.ps .courses .course li{
  border-bottom: 1px solid;
}
.ps .courses .course:hover{
  box-shadow: 0px 0px 19px -4px var(--main-color);
}
.ps .courses .course{
  background-color: var(--black-light-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
  flex-grow: 1;
}
/* end PS */
/* start SS */
.ss{
  background-color: var(--black-color);
  color: var(--white-color);
}
.ss .container{
  border-top: 2px solid var(--main-color);
}
.ss .courses{
  position: relative;
  min-height: 300px;
  max-height:  500px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.ss .courses::-webkit-scrollbar {
  display: none;
}
.ss .courses .course h2{
  font-family: 'Alkatra', cursive;
  text-align: center;
}
.ss .courses .course li{
  border-bottom: 1px solid;
}
.ss .courses .course:hover{
  box-shadow: 0px 0px 19px -4px var(--main-color);
}
.ss .courses .course{
  background-color: var(--black-light-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
  flex-grow: 1;
}

/* end SS */
/* start footer */
footer{
  background-color: var(--black-color);
  font-size: 10px;
}
footer .container{
  border-top: 2px solid var(--main-color);
}
footer ul li{
  margin-top: 20px;
}

.social-container a {
  border: 1px solid var(--white-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: 0.5s;
}
.social-container a:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
/* end footer */
