/* web page */
:root {
  --ColorOne: #f538eb;
  --ColorTWO: #6c3483;
  --ColorThree: #f4f6f75d;
  --black-color: #000;
  --white-color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black-color);
}

.btn1 {
  font-family: "Courier New", Courier, monospace;
  /* letter-spacing: 2px; */
  word-spacing: 5px;
  font-weight: 700;
  border: none;
}
.header .title {
  font-family: "Alkatra", cursive;
}
.header .title {
  font-size: 60px;
}

.main-title {
  text-align: center;
  font-family: "Alkatra", cursive;
  text-transform: uppercase;
  margin: 0 auto;
  border: 2px solid var(--main-color);
  padding: 10px 20px;
  font-size: 30px;
  /* width: fit-content; */
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.cardPage:hover > .main-title::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.cardPage:hover > .main-title::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.cardPage:hover > .main-title {
  color: #fff;
  transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }
/* start landing*/
.landing {
  margin-top: 60px;
}
@keyframes animate {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 25px;
  }
  100% {
    padding-top: 0px;
  }
}
.descriptioPhoto{
  transform: translateX(1000px);
}
.description{
  transform: translateX(-1000px);
}
/* end landing*/

/* start front */
.front .container {
  border-top: 2px solid var(--ColorOne);
}
.cardPage {
  background-color: var(--black-light-color);
  color: var(--white-color);
  flex-grow: 1;
  border-radius: 10px;
  border: 2px solid #f538eb6b;
  transition: 0.5s;
}
.front .cardPage:hover {
  box-shadow: 0px 0px 8px 0px var(--main-color);
}
 .cardPage ul {
  margin-top: 50px;
}

.cardPage ul li {
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.cardPage ul li::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background-color: var(--main-color);
    transition: 0.5s;
}
.cardPage ul li:hover {
    color: var(--main-color);
}
.cardPage ul li:hover:before {
    width: 75%;
}
/* end front */
/* start back */
.back .container {
    border-top: 2px solid var(--ColorOne);
}
.back .cardPage{
    border: none;
    min-height: 380px;
    max-height: 550px;
}
.back .image img{
  animation: animate 3s infinite !important;
}
/* end back */

/* start HTML */
.landing > div{
  transition: 1s;
}
.box1{
  left: 0%;
}
.box2{
  left: -100%;
}
.box3{
  left: -200%;
}
.lessons .contant::-webkit-scrollbar{
  width: 10px;
}
.lessons .contant::-webkit-scrollbar-track{
  background-color: var(--main-color);
  border-radius: 20px;
}
.lessons .contant::-webkit-scrollbar-thumb{
  background-color: var(--black-color);
  border-radius: 20px;
  border: 3px solid var(--main-color);
}
.lessons ul{
  list-style-type: none;
}
.lessons ul li{
  margin-bottom: 10px;
  border-bottom: 2px solid var(--textWhite50);
}
.lessons ul .len h6{
  position: relative;
}
.lessons .len ul{
  margin-left: -20px;
}
.lessons .len ul li{
  margin-bottom: 8px;
}
.lessons ul .len h6:before{
  content: '';
  position: absolute;
  left: -25px;
  border-width:8px;
  border-style: solid;
  border-left-color: var(--textWhite50);
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
}
.lessons ul li ul{
  height: 0;
  overflow: hidden;
}
.lessons ul li ul li{
  background-color: var(--black-light-color);
  padding: 7px 15px;
  border-radius: 8px;
}

.lessons ul li ul.show{
  height: 100%;
}
.screen{
  flex-grow: 1;
  border: 2px solid var(--textWhite50);
}
.projects{
  background-color: var(--black-light-color);
  border: 2px solid #f538eb6b;
}
.projects .title{
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
  font-family: "Alkatra", cursive;
}
.projects .content{
  width: fit-content;
  padding-right: 50px;
  border-radius: 5px;
  border-right: 5px solid #f538eb6b;
}
@media (max-width:991px) {
  .projects .content{
    border-bottom: 5px solid #f538eb6b;
    border-right: none;
    margin: 0px !important;
    padding: 0px !important;
    height: fit-content;
  }
  .projects .content ul{
    margin: 0px !important;
  }
  .projects .content h2{
    width: fit-content;
  }
}
.projects .content ul li{
  font-family: "Alkatra", cursive;
  width: 100%;
  padding: 0px 10px;
  border-radius: 5px;
  margin-left: 0px !important;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  transition: 0.5s;
}
.projects .content ul li:hover{
  background-color: var(--textWhite50);
  color: var(--black-color);
}
.projects .content ul li.active{
  background-color: var(--textWhite50);
  color: var(--black-color);
}
.projs::-webkit-scrollbar{
  width: 10px;
}
.projs::-webkit-scrollbar-track{
  background-color: var(--main-color);
  border-radius: 20px;
}
.projs::-webkit-scrollbar-thumb{
  background-color: var(--black-color);
  border-radius: 20px;
  border: 3px solid var(--main-color);
}
/* end HTML */
